María (2).json
[
    {
        "id": "225eb89d0163981f",
        "type": "tab",
        "label": "María",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4e9c25d1e1d80db",
        "type": "inject",
        "z": "225eb89d0163981f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "b6a0bb77a4f0b8ec"
            ]
        ]
    },
    {
        "id": "b6a0bb77a4f0b8ec",
        "type": "ui_switch",
        "z": "225eb89d0163981f",
        "name": "",
        "label": "Switch LEDS",
        "tooltip": "",
        "group": "f1aa67cb464d0c9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "c931232749d29e22"
            ]
        ]
    },
    {
        "id": "c931232749d29e22",
        "type": "mqtt out",
        "z": "225eb89d0163981f",
        "name": "",
        "topic": "utng/Maria/ledMotorBuzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1c577bf50bf765b7",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "e3adc4d8cc7755d2",
        "type": "ui_switch",
        "z": "225eb89d0163981f",
        "name": "",
        "label": "Switch MOTOR",
        "tooltip": "",
        "group": "f1aa67cb464d0c9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "c931232749d29e22"
            ]
        ]
    },
    {
        "id": "fdd046acfac341a1",
        "type": "ui_switch",
        "z": "225eb89d0163981f",
        "name": "",
        "label": "Switch BUZZER",
        "tooltip": "",
        "group": "f1aa67cb464d0c9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "4",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "5",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "c931232749d29e22"
            ]
        ]
    },
    {
        "id": "f1aa67cb464d0c9d",
        "type": "ui_group",
        "name": "Encender LEDS",
        "tab": "7e0a3cf272283906",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c577bf50bf765b7",
        "type": "mqtt-broker",
        "name": "Broker Profe",
        "broker": "192.168.1.100",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7e0a3cf272283906",
        "type": "ui_tab",
        "name": "LED's",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]